[APP]
APP_NAME = Data2Bot
APP_VERSION = "1.0.0"
APP_COPYRIGHT = "Copyright (c) 2022 Data2Bot Assessment"
APP_AUTHOR = "Anosike Chimaobi Nice"

[SERVER]
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=root
DB_PASSWORD=''

DB_DEFAULT_SCHEMA = 
DB_STAGING_SCHEMA = 
DB_ANALYTICS_SCHEMA =  

S3_WAREHOUSE_BUCKET_NAME = 

[LOG]
ERROR_LOG=logs/data2bot.log
LOG_LEVEL=DEBUG
